modules = ["nodejs-20", "web"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Start Travel Blog"

[[workflows.workflow]]
name = "Start Travel Blog"
author = 46716850
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd MilesaloneJourney-11-main && npm install && npm run build && npm start"

[deployment]
run = ["sh", "-c", "cd MilesaloneJourney-11-main && npm start"]
build = ["sh", "-c", "cd MilesaloneJourney-11-main && npm run build"]
